<%- include("../includes/header.ejs", {title: "Update " + account.first_name}); %>
<h1>Update <%= account.first_name %></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id%>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    Email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br/>
    <br/>
    Schools <br/>
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length >i; i++) {
            var selected = "";
            for(var j = 0; account_school.length >j; j++) {
                if (school[i].school_id == account_school[j].school_id) {
                    selected = "selected";
                }
            }
         %>
        <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name %></option>
        <% } %>
    </select>




    <br/>

    Companies <br/>
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length >i; i++){
            var selected = "";
            for(var j = 0; account_company.length > j; j++) {

                if (company[i].company_id == account_company[i].company_id) {
                    selected = "selected";
                }
            }
        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name%></option>
        <% } %>
    </select>



    <br/>

    Skills <br/>
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length >i; i++) {
            var selected = "";

            for (var j = 0; account_skill.length > j; j++) {


            if (skill[i].skill_id == account_skill[i].skill_id) {
                selected = "selected";
            }
        }
        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
            $('#company_id').multiselect();
            $('#skill_id').multiselect();
        });
    </script>

    <br/>

    <input type="submit"/>


</form>

<%- include("../includes/footer.ejs"); %>

</html>