<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    First Name: <input id="first_name" name="first_name" type="text" />
    Last Name: <input id="last_name" name="last_name" type="text" />
    Email: <input id="email" name="email" type="text" />
    <br/>
    <br/>
    School
    <br/>
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++) { %>
        <option value="<%= school[i].school_id %>"><%= school[i].school_name %></option>
     <% }%>
    </select>



    <br/>
    Companies
    <br/>
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++) { %>
        <option value="<%= company[i].company_id%>"><%= company[i].company_name %></option>
        <% }%>
    </select>


    <br/>

    Skills
    <br/>
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++) { %>
        <option value="<%= skill[i].skill_id%>"><%= skill[i].skill_name %></option>
        <% }%>
    </select>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
            $('#company_id').multiselect();
            $('#skill_id').multiselect();
        });
    </script>

    <br/>

    <input type="submit" />


</form>

