<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome aboard to <%= title %> where you can navigate through our links</p>
    <p2>to know what we do involving animal shelters. </p2>


<br/>
<br/>
    <a href="/shelter/all">Shelters - View All</a>

    <br/>
    <br/>
    <a href="/client/all">Clients - View All</a>

    <br/>
    <br/>
    <a href="/animal/all">Animals - View All</a>

    <br/>
    <br/>
    <a href="/volunteer/all">Volunteers - View All</a>

    <br/>
    <br/>
    <a href="/about">About Us </a>

<%- include("./includes/footer.ejs"); %>
