<%- include("../includes/header.ejs", {title:"Add New Skill"});%>
<h1>Add New skill</h1>
<form action="/skill/insert" method="get">
    Skill Name: <input id="skill_name" name="skill_name" type="text" />
    <br />
    <br />

        Description: <input id="description" name="description" type="text" />

        <script type="text/javascript">
            $(document).ready(function() {
                $('skill_id').multiselect();
            });
        </script>

    <br />
    <br />
    <input type="submit" />


</form>




