<%- include("../includes/header.ejs", {title:"About Us"}); %>

<h1>About Us</h1>

<p>Welcome to our website, we are a database that has connected with various
    animal shelters around California and are expanding. Our database consists of
    data of our volunteers, to our clients, and which animals are available. The purpose
    of this website is to make it easier for people to find where the animal_shelters are
    in case a client wants to either adopt an animal or surrender an animal. The website
    is also used to know which volunteers are there and to see how many animals there are
    in each shelter. This company is starting out and is branching off to collect information
     from other shelters that are not solely in California.</p>



<br/>
<br/>

<a href="/images/UpDated_relational_schema.png"> My Relational Schemas</a>
<br/>
<br/>
<a href="/images/updated_er_diagram.jpg">My ER Diagram</a>
<br/>
<br/>
<a href="/">Back to Home Page</a> <br/>
<br/>
<%- include("../includes/footer.ejs"); %>