<%- include("../includes/header.ejs", {title:"Address(es)"}); %>
    <h1>Address</h1>
    <u1>
        <li>Address: <%= result[0].street %></li>
        <li>ZipCode: <%= result[0].zip_code%></li>

    </u1>

<a href="/address/all"><< back</a>



<%- include("../includes/footer.ejs"); %>