<%- include("../includes/header.ejs", {title:"addresss - View All"}); %>

<h1>Address(es)</h1>
<a href="/address/add">Add New address</a> <br/>

<br/>

<table border="1">
    <tr><th>Address</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/address/?address_id=<%= result[i].address_id %>"><%= result[i].street %> <%= result[i].zip_code %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/address/edit/?address_id=<%= result[i].address_id %>'">Edit</button>
            <form action="/address/delete/" style="...">
                <input type="hidden" name="address_id" id="address_id" value="<%= result[i].address_id %>" />
                <input type="submit" value="Delete"/>
            </form>


        </td>

    </tr>

    <% } %>


</table>
<%- include("../includes/footer.ejs"); %>


