<%- include("../includes/header.ejs", {title:"Add new Address"});%>
<h1>Add New address</h1>
<form action="/address/insert" method="get">
    Street: <input id="street" name="street" type="text" />
    <br />
    <br />

    Zipcode: <input id="zip_code" name="zip_code" type="text" />




    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>