<%- include("../includes/header.ejs", {title: "Update " + address.street}); %>

<h1>Update <%= address.street%></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id%>">

    Street: <input id="street" name="street" type="text" value="<%= address.street %>"/>
    <br/>
    <br/>
    Zipcode: <input id="zip_code" name="zip_code" type="text" value="<%= address.zip_code%>"/>



    <br/>

    <input type="submit" />

</form>


<%- include("../includes/footer.ejs"); %>

</html>